# Gather

In [35]:
import pandas as pd

In [36]:
#Read the CSV File manually downloaded from UN's website in a CSV file. 
# http://popstats.unhcr.org/en/asylum_seekers_monthly
df = pd.read_csv('unhcr_immigration.csv')

/Users/naseerfaheem/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Assess

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140834 entries, 0 to 140833
Data columns (total 14 columns):
Extracted from the UNHCR Population Statistics Reference Database    140833 non-null object
United Nations High Commissioner for Refugees                        140832 non-null object
Unnamed: 2                                                           140832 non-null object
Unnamed: 3                                                           140831 non-null object
Unnamed: 4                                                           132876 non-null object
Unnamed: 5                                                           123450 non-null object
Unnamed: 6                                                           135379 non-null object
Unnamed: 7                                                           125911 non-null object
Unnamed: 8                                                           118797 non-null object
Unnamed: 9                                                           128612 non-null object
Unnamed: 10                                                          127408 non-null object
Unnamed: 11                                                          104465 non-null object
Unnamed: 12                                                          134655 non-null object
Unnamed: 13                                                          127073 non-null object
dtypes: object(14)
memory usage: 15.0+ MB

In [6]:
df.head()

,Extracted from the UNHCR Population Statistics Reference Database,United Nations High Commissioner for Refugees,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Date extracted: 2015-09-18 04:37:51 +02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted,Applied during year,statistics.filter.decisions_recognized,statistics.filter.decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted
3,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
4,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0

Quality Issues: 
- The first two rows and the 3rd row need to be dropped. 
- Row (index 2) should be column names. 
column name changes: 
- Tota pending start-year to Total Pending Start-Year
- statistics.filter.decisions_recognized to Recognized
- statistics.filter.decisions_other to other
- Origin to country_of_origin, Country / territory of asylum/residence to country_of_asylum, Tota pending start-year to Total_Pending_Start_Year

# Clean

- Row (index 2) should be column names.

### Define
- Choose Row 3 (index 2) as the new columns using df.loc function:

### Code

In [37]:
df.columns = df.loc[2]

### Test

In [38]:
df.head()

2,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted,Applied during year,statistics.filter.decisions_recognized,statistics.filter.decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted
0,Date extracted: 2015-09-18 04:37:51 +02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted,Applied during year,statistics.filter.decisions_recognized,statistics.filter.decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted
3,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
4,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0

- The first two rows and the 3rd row need to be dropped.

### Define
- Drop the first two rows that contain null values and also the repeated rows using panda's drop function and the index of the row.

### Code

In [39]:
#Use the drop funtion and a range of the row indices: 
df = df.drop([0,1,2])

In [42]:
#Reset the indeces
df = df.reset_index(drop=True)

### Test

In [43]:
df.head()

2,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted,Applied during year,statistics.filter.decisions_recognized,statistics.filter.decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140831 entries, 0 to 140830
Data columns (total 14 columns):
Year                                       140831 non-null object
Country / territory of asylum/residence    140831 non-null object
Origin                                     140831 non-null object
RSD procedure type / level                 140830 non-null object
Tota pending start-year                    132875 non-null object
of which UNHCR-assisted                    123449 non-null object
Applied during year                        135378 non-null object
statistics.filter.decisions_recognized     125910 non-null object
statistics.filter.decisions_other          118796 non-null object
Rejected                                   128611 non-null object
Otherwise closed                           127407 non-null object
Total decisions                            104464 non-null object
Total pending end-year                     134654 non-null object
of which UNHCR-assisted                    127072 non-null object
dtypes: object(14)
memory usage: 15.0+ MB

- Tota pending start-year to Total Pending Start-Year
- statistics.filter.decisions_recognized to Recognized
- statistics.filter.decisions_other to other
- Origin to country_of_origin, Country / territory of asylum/residence to country_of_asylum, Tota pending start-year to Total_Pending_Start_Year

### Define
- rename the above column names to make them more meaningful using panda's rename function.

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140831 entries, 0 to 140830
Data columns (total 14 columns):
Year                                       140831 non-null object
Country / territory of asylum/residence    140831 non-null object
Origin                                     140831 non-null object
RSD procedure type / level                 140830 non-null object
Tota pending start-year                    132875 non-null object
of which UNHCR-assisted                    123449 non-null object
Applied during year                        135378 non-null object
statistics.filter.decisions_recognized     125910 non-null object
statistics.filter.decisions_other          118796 non-null object
Rejected                                   128611 non-null object
Otherwise closed                           127407 non-null object
Total decisions                            104464 non-null object
Total pending end-year                     134654 non-null object
of which UNHCR-assisted                    127072 non-null object
dtypes: object(14)
memory usage: 15.0+ MB

### Code

In [50]:
#Since we are just renaming column name, we do not have to use inplace=True becuase it will return Nonetype. 
df = df.rename(columns={'Country / territory of asylum/residence':'Country of Asylum/Residence',
                        'Origin':'Country of Origin','Tota pending start-year':'Total Pending Start_Year',
                        'statistics.filter.decisions_recognized':'Recognized',
                       'statistics.filter.decisions_other':'Other',
                       'Total pending end-year':'Total Pending End_Year'})

### Test

In [51]:
df.head()

2,Year,Country of Asylum/Residence,Country of Origin,RSD procedure type / level,Total Pending Start_Year,of which UNHCR-assisted,Applied during year,Recognized,Other,Rejected,Otherwise closed,Total decisions,Total Pending End_Year,of which UNHCR-assisted
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140831 entries, 0 to 140830
Data columns (total 14 columns):
Year                           140831 non-null object
Country of Asylum/Residence    140831 non-null object
Country of Origin              140831 non-null object
RSD procedure type / level     140830 non-null object
Total Pending Start_Year       132875 non-null object
of which UNHCR-assisted        123449 non-null object
Applied during year            135378 non-null object
Recognized                     125910 non-null object
Other                          118796 non-null object
Rejected                       128611 non-null object
Otherwise closed               127407 non-null object
Total decisions                104464 non-null object
Total Pending End_Year         134654 non-null object
of which UNHCR-assisted        127072 non-null object
dtypes: object(14)
memory usage: 15.0+ MB

### Storing

In [53]:
#Store the cleaned file in a new csv file
df.to_csv('unhcr_asylum.csv', index=False)

2,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted,Applied during year,statistics.filter.decisions_recognized,statistics.filter.decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0

In [54]:
df1 = pd.read_csv('unhcr_asylum.csv')

/Users/naseerfaheem/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [55]:
df1.head()

,Year,Country of Asylum/Residence,Country of Origin,RSD procedure type / level,Total Pending Start_Year,of which UNHCR-assisted,Applied during year,Recognized,Other,Rejected,Otherwise closed,Total decisions,Total Pending End_Year,of which UNHCR-assisted.1
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0

# Reference

https://stackoverflow.com/questions/43821308/how-to-pick-a-row-in-a-dataframe-and-make-it-the-columns-name-pandas
https://stackoverflow.com/questions/20490274/how-to-reset-index-in-a-pandas-data-frame